body {
    background-color: orange;
}

.flex-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
}

.boxes {
    background-color: blue;
    margin: 20px;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: green;
}

h2 {
    text-align: center;
    color: green;
}

