body {
    background-color: #98A8AE;
}

.flex-container {
    width: 95%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
    border: 1px solid black;
}

.boxes {
    background-color: #949B96;
    margin: 20px;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

h1 {
    text-align: center;
    color: green;
}

h2 {
    text-align: center;
    color: green;
}

